/* Rights goes to Yotta Software Solutions*/
.oe_systray #easy_sign_in_out_icon {
    color: white;
}
.oe_red_color{
	color: red;
	background-color:red;
}
.oe_green_color{
	color: green;
	background-color:green;
}
/*Rights goes to Yotta Software Solutions*/